@tailwind base;

/* Write your own custom base styles here */

a {
  @apply text-gray-600 hover:text-gray-900 hover:underline;
}

.blog-content a {
  @apply text-teal-600 hover:text-teal-900 hover:underline;
}

.blog-content p {
  @apply py-4;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  @apply py-2 font-sans;
}

.blog-content h2 {
  @apply text-3xl mt-4;
}

.blog-content ul {
  @apply list-disc pl-6;
}

.blog-content ol {
  @apply list-decimal pl-6;
}

.blog-content li {
  /* @apply py-3; */
}

.blog-content blockquote p {
  @apply py-2;
}
.blog-content blockquote ul,
.blog-content blockquote ol {
  @apply py-2 pl-4;
}

@tailwind components;

@tailwind utilities;

/* Your own custom utilities */
